body{
    margin:0;
    padding:0;
    background-color:rgb(216, 248, 248);
}
textarea {
    min-height: 400px;
}
.Email-container {
    opacity:0.25;
    height:120px;
    width:100%;   
    border-bottom: 1px solid black;
    border-radius: 4px 4px;
    margin:10px;
    padding:10px;
  }
.Email-content{
    color:rgb(8, 70, 59);
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight:700;
}
.Email-time{
    font-size: small;
    color:blue;
}